*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    min-width: 260px;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 65px;
    background: url(../../img/index/background-hader.jpg) repeat;
    margin-left: 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content p {
    font-size: 18px;
    color: rgb(138,148,148);
    line-height: 30px;
}

.content {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content h1    {
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding-top: 12px;
}

.logo h1 a {
    text-decoration: none;
    color: black;
}

a.chosen {
    color: black;
}

.menu {
    width: 50%;
    max-width: 1130px;
    margin: 0 auto;
}

.menu nav {
    font-size: 12px;
    text-transform: uppercase;
    height: 65px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 16px 20px 36px;
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.menu nav a:after {
    display: block;
    content: "";
    height: 5px;
    width: 0;
    background-color: black;
    transition: width .3s ease-in-out;
    margin-top: 30px;
}

.menu nav a:hover:after,
.menu nav a:focus:after,
.menu nav a:active:after {
    width: 100%;
}

.menu nav a:hover {
    color: black;
}

.menu nav a:focus,
.menu nav a:active {
    color: red;
}

.advert {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.advert-content,
.about,
.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advert h3 {
    padding: 30px 0 20px;
    color: rgb(44, 62, 80);
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: black;
}

.advert a.attention {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    border: solid white 2px;
    text-decoration: none;
    margin: 20px 0 30px;
    display: inline-block;
    padding: 16px 20px;
    border-radius: 8px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    background-color: rgb(141,208,88);
}

.services {
    background: url(../../img/index/background1.jpg);
    background-size: 100%;
    border-top: solid 1px rgb(220, 220, 220);
    margin-top: 30px;
}

.services .services-shot,
.about .about-shot {
    width: 60%;
}

.services-content,
.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% 1% 10%;
}

.about-content .type {
    width: 40%;
}

.health img:hover,
.discipline img:hover,
.confidence img:hover {
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);

    transform: rotate(720deg);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

h2 {
    font-size: 64px;
    letter-spacing: -4px;
    color: rgb(44,62,80);
    padding: 30px 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h2.dashed:after {
    content: "";
    display: block;
    height: 7px;
    width: 140px;
    background: rgb(241,196,15);
    margin: 18px auto 10px;
}

.type {
    width: 25%;
    text-align: center;
}

.type a,
h3 {
    padding: 30px 0 20px;
    color: rgb(44,62,80);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

p.short,
.text {
    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    line-height: 26px;
    text-align: center;
}

p.short {
    text-transform: uppercase;
}

.dashed-text {
    font-size: 20px;
}

img {
    width: 270px;
    height: 165px;
    border-radius: 8px;
}

img.slide-foto {
    width: 600px;
    height: 550px;
}

.about {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-align: center;
    background: rgb(44,62,80);
}

.info .type {
    width: 50%;
}

h2 {
    font-size: 64px;
    letter-spacing: -4px;
    color: rgb(44,62,80);
    padding: 30px 0 10px;
    font-weight: bold;
}

.about h2 {
    color: white;
}

.about p {
    color: white;
}

h2.dashed:after {
    content: "";
    display: block;
    height: 7px;
    width: 140px;
    background: rgb(241,196,15);
    margin: 18px auto 10px;
}

.about h3 a {
    color: cornsilk;
}

footer {
    background: rgb(136,30,142);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 10% 1% 10%;
}

.info-shot {
    width: 33%;
}

footer h3,
footer h3 a {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

footer h3 a {
    text-decoration: none;
}

.info-shot p,
.info-shot ul li {
    font: normal 14px Tahoma, sans-serif;
    margin: 20px 0;
    color: white;
    text-align: center;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    margin: 0 auto;
}

.carousel.carousel-slider {
    top: 0;
    left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .carousel-item {
    visibility: hidden;
    width: 60%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: white;
    border: 2px solid yellow;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
    background-color: yellow;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
}

@media (max-width:1200px) {
    .logo {
        padding: 6px 0 0 65px;
        font-size: 25px;
    }
    .menu {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width:1100px) {
    img {
        width: 210px;
        height: 100px;
    }
}

@media (max-width:1024px) {
    img {
        width: 200px;
        height: 100px;
    }
    .about-content .type h3 {
        font-size: 18px;
    }
    .carousel {
        height: 600px;
    }
}

@media (max-width:992px) {
    .logo {
        padding: 6px 0 0 40px;
        font-size: 20px;
    }
    .menu {
        width: 80%;
        max-width: 992px;
        margin: 0 auto;
    }
    .menu nav {
        font-size: 10px;
        float: left;
        text-transform: uppercase;
    }
    .nav a {
        padding: 2px 3px 4px;
        display: inline-block;
    }
    .menu nav a:hover:after,
    .menu nav a:focus:after,
    .menu nav a:active:after {
        display: none;
    }
    img {
        width: 200px;
        height: 100px;
    }
    .services h3 a,
    footer h3 a,
    .about h3 a {
        font-size: 19px;
    }
}

@media (max-width:815px) {
    img {
        width: 190px;
        height: 100px;
    }
}

@media (max-width:768px) {
    .logo {
        padding: 2px 0 0 15px;
        font-size: 15px;
    }
    header {
        height: 150px;
    }
    .menu {
        width: 50%;
    }
    nav a {
        display: block;
        padding: 0;
        font-size: 13px;
        text-align: center;
    }
    nav a span {
        border-bottom: 1px solid black;
    }
    .menu nav a:after {
        margin-top: 0;
    }
    .menu nav a:hover:after,
    .menu nav a:focus:after,
    .menu nav a:active:after {
        display: none;
    }
    img {
        width: 130px;
        height: 50px;
    }
    img.slide-foto {
        width: 400px;
        height: 380px;
    }
    .type a {
        padding: 10px 0 5px;
        font-size: medium;
    }
    .carousel {
        height: 450px;
    }
    .about-content .type {
        width: 48%;
    }
    footer .info-shot:first-child {
        display: none;
    }
}

@media (max-width:576px) {
    .logo {
        padding: 2px 0 0 15px;
        font-size: 12px;
    }
    .menu nav {
        font-size: 7px;
        float: none;
        text-transform: uppercase;
    }
    img {
        width: 120px;
        height: 50px;
    }
    img.slide-foto {
        width: 300px;
        height: 280px;
    }
    .carousel {
        height: 330px;
    }
    .services h3 a,
    footer h3 a,
    .about h3 a {
        font-size: 15px;
    }
    .about .about-shot h2 {
        font-size: 35px;
    }
    .type h3 a,
    .type p {
        padding:5px 0 5px;
        font-size: 10px;
    }
    footer .info-shot:first-child {
        display: none;
    }
    footer .info-shot:nth-child(2n) {
        display: none;
    }
    footer .info-shot:last-child {
        width: 100%;
    }
}

@media (max-width:495px) {
    img {
        width: 90px;
        height: 50px;
    }
}

@media (max-width:425px) {
    .menu {
        width: 40%;
    }
    nav a {
        display: block;
        padding: 0;
        font-size: 13px;
        text-align: center;
    }
    nav a span {
        border-bottom: 1px solid black;
    }
    .advert .advert-content div:nth-child(2n) p,
    .advert .advert-content div:first-child h3 {
        font-size: 10px;
    }
    img.slide-foto {
        width: 250px;
        height: 230px;
    }
    .services .services-shot h2 {
        font-size: 30px;
    }
    .carousel {
        height: 280px;
    }
    .type h3 a,
    .type p {
        padding:5px 0 5px;
        font-size: 8px;
    }
}

@media (max-width:375px) {
    header {
        height: 150px;
    }
    .menu {
        width: 40%;
    }
    nav a {
        display: block;
        padding: 0;
        font-size: 10px;
        text-align: center;
    }
    nav a span {
        border-bottom: 1px solid black;
    }
    img.slide-foto {
        width: 180px;
        height: 200px;
    }
    img {
        width: 60px;
        height: 40px;
    }

}



