* {margin:0;
    padding:0;
}

body {
    font-family: Tahoma, sans-serif;
    min-width: 260px;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

header {
    width: 100%;
    height: 65px;
    background: url(../../img/index/background-hader.jpg) repeat;;
    margin-left: 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content p {
    font-size: 18px;
    color: rgb(138,148,148);
    line-height: 30px;
}

.content {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content h1    {
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding-top: 12px;
}

.logo h1 a {
    text-decoration: none;
    color: black;
}

a.chosen {
    color: black;
}

.menu {
    width: 50%;
    max-width: 1130px;
    margin: 0 auto;
}

.menu nav {
    font-size: 12px;
    text-transform: uppercase;
    height: 65px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 16px 20px 36px;
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.menu nav a:after {
    display: block;
    content: "";
    height: 5px;
    width: 0;
    background-color: black;
    transition: width .3s ease-in-out;
    margin-top: 30px;
}

.menu nav a:hover:after,
.menu nav a:focus:after,
.menu nav a:active:after {
    width: 100%;
}

.menu nav a:hover {
    color: black;
}

.menu nav a:focus,
.menu nav a:active {
    color: red;
}

.baseinfo {
    text-align: center;
}

h2 {
    font-size: 64px;
    letter-spacing: -4px;
    color: rgb(44,62,80);
    padding: 30px 0 10px;
    font-weight: bold;
}

h2.dashed:after {
    content: "";
    display: block;
    height: 7px;
    width: 140px;
    background: rgb(241,196,15);
    margin: 18px auto 10px;
}

.content p {
    font-size: 18px;
    color: rgb(138,148,148);
    line-height: 30px;
}

.baseinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.baseinfo-shot {
    width: 60%;
}

.description {
    margin: 16px 20px;
}

article {
    margin-top: 42px;
    padding: 0 10%;
}

section {
    padding: 40px 0;
    display: flex;

}

section div {
    width: 50%;
}

p.short {
    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    line-height: 26px;
    text-align: left;
}

img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    width: 90%;
}

footer {
    background: rgb(136,30,142);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1% 10%;
}

.info-shot {
    float: left;
    width: 33.3333%;
    text-align: center;
    display: inline-block;
}

footer h3,
footer h3 a {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

footer h3 a {
    text-decoration: none;
}

.info-shot p,
.info-shot ul li {
    font: normal 14px Tahoma, sans-serif;
    margin: 20px 0;
    color: white;
    text-align: center;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

@media (max-width:1200px) {
    .logo {
        padding: 6px 0 0 65px;
        font-size: 25px;
    }
    .menu {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width:992px) {
    .logo {
        padding: 6px 0 0 40px;
        font-size: 20px;
    }
    .menu {
        width: 80%;
        max-width: 992px;
        margin: 0 auto;
    }
    .menu nav a:hover:after,
    .menu nav a:focus:after,
    .menu nav a:active:after {
        display: none;
    }
    p.short {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .logo {
        padding: 2px 0 0 1px;
        font-size: 15px;
    }
    .menu {
        width: 75%;
        margin: 0 auto;
    }
    .menu nav {
        font-size: 12px;
        float: none;
        text-transform: uppercase;
    }
    nav a {
        padding: 4px 5px 0 5px;
        display: inline-block;
        font-size: 11px;
    }
    .menu nav a:hover:after,
    .menu nav a:focus:after,
    .menu nav a:active:after {
        display: none;
    }
    p.short {
        font-size: 8px;
    }
    footer .info-shot:first-child {
        display: none;
    }
}

@media (max-width:576px) {
    header {
        height: 150px;
    }
    .menu {
        width: 40%;
    }
    nav a {
        display: block;
        padding: 0;
        font-size: 12px;
        text-align: center;
    }
    nav a span {
        border-bottom: 1px solid black;
    }
    .logo {
        padding: 2px 0 0 15px;
        font-size: 12px;
    }
    .menu nav {
        font-size: 7px;
        float: none;
        text-transform: uppercase;
    }
    nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        padding: 4px 10px 0 15px;
        display: inline-block;
        border-bottom: 4px solid transparent;
    }
    .baseinfo .baseinfo-shot h2 {
        font-size: 50px;
    }
    .type h3 a,
    .type p {
        padding:5px 0 5px;
        font-size: 10px;
    }
    p.short {
        font-size: 7px;
    }
    footer .info-shot:first-child {
        display: none;
    }
    footer .info-shot:nth-child(2n) {
        display: none;
    }
    footer .info-shot:last-child {
        width: 100%;
    }
}

@media (max-width:495px) {
    nav a {
        display: block;
        padding: 0;
    }
    .menu nav a:after {
        margin-top: 0;
    }
}

@media (max-width:425px) {
    header {
        height: 150px;
    }
    .menu {
        width: 40%;
    }
    nav a {
        display: block;
        padding: 0;
        font-size: 13px;
        text-align: center;
    }
    nav a span {
        border-bottom: 1px solid black;
    }
    .services .services-shot h2 {
        font-size: 30px;
    }
    .menu nav a:after {
        margin-top: 0;
    }
    .type h3 a,
    .type p {
        padding:5px 0 5px;
        font-size: 8px;
    }
}

@media (max-width:375px) {
    header {
        height: 150px;
    }
    .menu {
        width: 50%;
    }
    nav a {
        font-size: 10px;
    }
    nav a span {
        border-bottom: 1px solid black;
    }
}