* {margin:0;
    padding:0;
}

body {
    font-family: Tahoma, sans-serif;
    min-width: 260px;
}

.container {
    min-height: 100%;
}

header {
    width: 100%;
    height: 65px;
    background: url(../../img/index/background-hader.jpg) repeat;
    margin-left: 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content p {
    font-size: 18px;
    color: rgb(138,148,148);
    line-height: 30px;
}

.content {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content h1    {
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding-top: 12px;
}

.logo h1 a {
    text-decoration: none;
    color: black;
}

a.chosen {
    color: black;
}

.menu {
    width: 50%;
    max-width: 1130px;
    margin: 0 auto;
}

.menu nav {
    font-size: 12px;
    text-transform: uppercase;
    height: 65px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 16px 20px 36px;
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.menu nav a:after {
    display: block;
    content: "";
    height: 5px;
    width: 0;
    background-color: black;
    transition: width .3s ease-in-out;
    margin-top: 30px;
}

.menu nav a:hover:after,
.menu nav a:focus:after,
.menu nav a:active:after {
    width: 100%;
}

.menu nav a:hover {
    color: black;
}

.menu nav a:focus,
.menu nav a:active {
    color: red;
}
.clear {
    clear: both;
}

.content-forms,
.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.baseinfo {
    text-align: center;
}

.baseinfo h2 {
    font-size: 64px;
    letter-spacing: -4px;
    color: rgb(44,62,80);
    padding: 30px 0 10px;
    font-weight: bold;
    box-sizing: border-box;
}

h2.dashed:after {
    content: "";
    display: block;
    height: 7px;
    width: 140px;
    background: rgb(241,196,15);
    margin: 18px auto 10px;
}

.content-forms p {
    font-size: 18px;
    color: rgb(138,148,148);
    line-height: 30px;
}

.description {
    margin: 16px 20px;
}

.line {
    border-bottom: solid 1px rgb(222, 222, 222);
    padding-bottom: 16px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

p.short {
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 60px;
    box-sizing: border-box;
    line-height: 26px;
    text-align: center;
}

form {
    margin-top: 0;
}

.contacts {
    text-align: center;
    padding-bottom: 1%;
    box-sizing: border-box;
}

#aligned-name, #aligned-email {
    width: 400px;
    max-width: 400px;
}

input {
    border: solid 1px rgb(202,202,202);
    font: normal 14px Tahoma, sans-serif;
    padding: 3px 0 3px 16px;
    box-sizing: border-box;
}

input[type] {
    display: block;
    border-radius: 4px;
    margin-bottom: 20px;
}

textarea {
    color: rgb(172, 172, 172);
    border-radius: 4px;
    width: 400px;
    max-width: 400px;
    height: 100px;
    margin-bottom: 30px;
    font: normal 14px Tahoma, sans-serif;
    padding: 3px 0 3px 16px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background: rgb(212, 215, 215);
    border: none;
    padding: 10px 0;
    box-sizing: border-box;
    width: 120px;
    margin-bottom: 48px;
    border-radius: 8px;
    margin-left: -423px;
}

ul {
    list-style: none;
}

.contacts ul li {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(138,148,148);
}

.contacts ul li a {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(138,148,148);
    text-decoration: none;
}

footer {
    background: rgb(136,30,142);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1% 10%;
    box-sizing: border-box;
}

.info-shot {
    width: 33.3333%;
    text-align: center;
    display: inline-block;
}

footer h3,
footer h3 a {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

footer h3 a {
    text-decoration: none;
}

.info-shot p,
.info-shot ul li {
    font: normal 14px Tahoma, sans-serif;
    margin: 20px 0;
    color: white;
    text-align: center;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

@media (max-width:1200px) {
    .logo {
        padding: 6px 0 0 65px;
        font-size: 25px;
    }
    .menu {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width:992px) {
    .logo {
        padding: 6px 0 0 40px;
        font-size: 20px;
    }
    .menu {
        width: 80%;
        max-width: 992px;
        margin: 0 auto;
    }
    .menu nav {
        font-size: 10px;
        text-transform: uppercase;
    }
    .nav a {
        padding: 2px 3px 4px;
        display: inline-block;
    }
    .menu nav a:hover:after,
    .menu nav a:focus:after,
    .menu nav a:active:after {
        display: none;
    }
}

@media (max-width:768px) {
    header {
        height: 160px;
    }
    .logo {
        padding: 2px 0 0 15px;
        font-size: 15px;
    }
    .menu {
        width: 50%;
    }
    .menu nav a:after {
        margin-top: 0;
    }
    nav a {
        display: block;
        padding: 2px;
        font-size: 12px;
        text-align: center;
    }
    nav a span {
        border-bottom: 1px solid black;
    }
    .forms h3 {
        text-align: center;
    }
    .menu nav a:hover:after,
    .menu nav a:focus:after,
    .menu nav a:active:after {
        display: none;
    }
    .menu nav a:after {
        margin-top: 0;
    }
    .type a {
        padding: 10px 0 5px;
        font-size: medium;
    }
    .about-content .type {
        width: 48%;
    }
    footer .info-shot:first-child {
        display: none;
    }
    button {
        margin-left: -223px;
    }
}

@media (max-width:576px) {
    nav a span {
        border-bottom: 1px solid black;
    }
    .logo {
        padding: 2px 0 0 15px;
        font-size: 12px;
    }
    .menu nav {
        font-size: 7px;
        float: none;
        text-transform: uppercase;
    }
    #aligned-name,
    #aligned-email,
    textarea {
        max-width: 270px;
    }
    .type h3 a,
    .type p {
        padding:5px 0 5px;
        font-size: 10px;
    }
    button {
        margin-left: -200px;
    }
    footer .info-shot:first-child {
        display: none;
    }
    footer .info-shot:nth-child(2n) {
        display: none;
    }
    footer .info-shot:last-child {
        width: 100%;
    }
}

@media (max-width:425px) {
    header {
        height: 170px;
    }
    .services .services-shot h2 {
        font-size: 30px;
    }
    .menu nav a:after {
        margin-top: 0;
    }
    .baseinfo h2 {
        font-size: 40px;
    }
    .type h3 a,
    .type p {
        padding:5px 0 5px;
        font-size: 8px;
    }
    #aligned-name,
    #aligned-email,
    textarea {
        max-width: 200px;
    }
}